streamlit
streamlit_TTS
streamlit-mic-recorder
streamlit_code_editor
langchain
langchain-google-genai
langchain-google-community[drive]
langchain-community
langchain-core
langchain-cli
langchain-text-splitters
langchain-huggingface
gritql==0.2.0
google-generativeai
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
doctr
Pillow
python-dotenv
tiktoken
loguru
transformers
sentence-transformers
torch
pypdf
pyMuPDF
faiss-cpu
unstructured
numexpr
